
body{
    margin: 0;
    position: fixed;
}

header{
    height: 10vh;
    background-color: aqua;
    text-align: center;
    position: relative;
    
  


}


main{
    height: 90vh;
    width: 30vw;
    flex: 1;
    border: solid 3px lightgray;
}

aside{

    height: 80vh;
    width: 70vw;

}

section{

    display: flex;
    flex-direction: row-reverse;

}